.card{
    margin: 50px 10px;
    width: 15%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3%;
    box-shadow: inset 0px 0px 10px 3px #11998e;
    position: relative;
    transition: all .3s;
}

/* .card::after{
    position: absolute;
    top: 0px;
    left: 0px;
    content: ' ';
    background: linear-gradient(to right, #38ef7d, #11998e);
    border-radius: 5%;
    width: 100%;
    height: 100%;
    filter: blur(5px); 
    z-index: -1;
} */

.card:hover{
    transform: scale(1.05);
    /* background-color: #252129; */
    box-shadow: inset 0px 0px 10px 3px #38ef7d;
}

.imgCard{
    width: 80%;
    border-radius: 3%;
    filter: contrast(150%);
    box-shadow: 3px 3px 5px;
    margin: 5%;
}


.body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 20px;
}

.buttonCard{
    position: absolute;
    bottom: 0px;
    right: 0px; 
    height: 9%;
    width: 13%;
    color: #fff;
    background: none;
    border: none;
    border-radius: 20%;
    transition: all .3s;
}

.buttonCard:hover, .buttonFav:hover{
    transform: scale(1.5);
    /* background-color: #11998e; */
}

.buttonFav{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 9%;
    width: 13%;
    color: #fff;
    background: none;
    border: none;
    border-radius: 20%; 
    transition: all .3s;

}

.cardNavlink {
    color: #38ef7d;
    font-size: 25px;
    text-decoration: none;
    transition: all .9s;
}

.cardNavlink:hover {
    text-decoration: underline;
}