.body{
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.89);
    padding: 3%;
    margin-top: 2%;
    margin-left: 4%;
    border-radius: 10%;
    box-shadow: inset 0px 0px 10px 3px #38ef7d;
}

.name{
    height: 100%;
    width: 20%;
    text-align: left;
    padding-top: 13%;
}

.name label{
    width: 90%;
    font-size: 25px;
    color: #38ef7d;
    
}

.name span{
    font-size: 40px;
    color: #38ef7d;
    border-bottom: 1px solid #38ef7d;
    
}

.body img{
    width: 35%;
    filter: contrast(150%);
    border-radius: 5%;
    box-shadow: 3px 3px 5px #38ef7d;
}

.details{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20%;
    list-style: circle;
    
}

.details li{
    width: 100%;
    font-size: 20px;
    color: #38ef7d;
    line-height:400%;
}

.details li label {
    border-bottom: 1px solid #38ef7d;
}